<app-header>

</app-header>
<router-outlet></router-outlet>
<div class="d-flex">

            <button routerLink="/Login" class="btn btn-danger mx-3"><i class="fa fa-fw fa-login">Login</i></button>

            <!-- <button routerLink="/product" class="btn btn-danger mx-3"><b>Products</b></button> -->

            <!-- <button routerLink="/cart" class="btn btn-danger mx-3"><b>Cart</b></button> -->

            <!-- <button routerLink="/contact" class="btn btn-danger mx-3"><b>SignUp</b></button>            

            <button routerLink="/Home" class="btn btn-danger mx-3"><b>Home</b></button> -->
        </div>
 <router-outlet></router-outlet>
<br>
<br>
<app-footer>  
</app-footer>